@font-face {
font-family: 'Superscript';
src: url('http://www.youziku.com/CSS/webfont/2013-10-8/c42b1086db504c01b1eae7d5835bde3f/Superscript.svg#Superscript') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
font-family: 'BMblockA15';
src: url('http://www.youziku.com/CSS/webfont/2013-10-8/a6e97040650d49d59055b9828607754f/BMblockA15.svg#BMblockA15') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
font-family: 'Supermagnet';
src: url('http://www.youziku.com/CSS/webfont/2013-10-8/b5682abc851b4553903df77d3a621339/Supermagnet.svg#Supermagnet') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
font-family: 'AddMBitmap06';
src: url('http://www.youziku.com/CSS/webfont/2013-10-8/453b8b05882a46c198ec0e920da076fd/AddMBitmap06.svg#AddMBitmap06') format('svg');
    font-weight: normal;
    font-style: normal;
   }
