<?xml version="1.0" encoding="utf-8" ?>
<Configs>
  <Config key="ListenAddress" value="0.0.0.0"></Config>
  <Config key="ListenPort" value="38760"></Config>
  <Config key="ProtocolVersion" value="wuziqi-1.0.0.0"></Config>
  <Config key="AutoMatchWaitingTime" value="20"></Config><!-- in seconds -->
  <Config key="AutoMatchCheckInterval" value="1"></Config><!-- in seconds -->
</Configs>